* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #22254b;
    color: rgb(255, 254, 254);
}

header {
    background-color: #373b69;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

header input {
    width: 200px;
    padding: 0.5rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #22254b;
    padding: 0.5rem 1rem;
    color: #fff;
}

header input::placeholder {
    color: #bbbde0;
}

.search:focus {
    outline: none;
    background-color: #14162e;
}

.home-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-image: url(../img/home-white-18dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.acc-icon {
    width: 25px;
    height: 25px;
    background-image: url(../img/account_circle-white-18dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.head-icons {
    display: flex;
    margin-top: 4px;
    margin-left: 40px;
}

.movie {
    background-color: #373b69;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 280px;
    margin: 2rem;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem 1rem;
}

.movie-info span {
    background-color: #22254b;
    padding: 3px 4px;
    font-weight: bold;
    font-size: 14px;
}

.movie-info h3 {
    margin-top: 2px;
    font-size: 17px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-info span.green {
    color: green;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: rgba(53, 53, 53, 0.8);
    position: absolute;
    max-height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    transform: translateY(100%);
    transition: 0.4s all ease;
    text-align: center;
}

.overview h4 {
    margin: 15px;
}

.movie:hover .overview {
    transform: translateY(0);
}

.btn-details {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #f1211a;
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.heart-holder {
    width: 27px;
    height: 27px;
    background-image: url(../img/favorite_border-white-18dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


/*Footer*/

.footer {
    padding: 82px 42px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}

.project-info,
.portfolio,
.phone-n {
    display: flex;
    margin-bottom: 15px;
}

.project-info a {
    text-decoration: none;
    color: #fff;
}

.project-info p {
    margin-right: 10px;
}

.footer h4 {
    margin-right: 15px;
}

.bottom-info {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 22%;
}

.powered-by {
    width: 120px;
    height: 100px;
    display: inline-block;
    background-image: url(../img/tmdb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.facebook-logo {
    width: 40px;
    height: 40px;
    background-image: url(../img/s-media/facebook-white-18dp.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.code-logo {
    width: 40px;
    height: 40px;
    background-image: url(../img/s-media/integration_instructions-white-18dp.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.policy-logo {
    width: 40px;
    height: 40px;
    background-image: url(../img/s-media/policy-white-18dp.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-media {
    display: flex;
    position: absolute;
    left: 50%;
    top: 53%;
}

.social-media div {
    margin-right: 10px;
}

.footer p {
    font-size: 14px;
}


/*LOGIN PAGE*/

.jumbotron {
    display: flex;
    flex-direction: column;
}

.login-section {
    width: 100%;
    /*width: 45%;*/
    /*height: 100vh;*/
    height: 50%;
    text-align: center;
    justify-content: center;
}

.logo-holder {
    width: 100px;
    height: 100px;
    background-image: url(../img/thursday_movie.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-bottom: 20px;
}

.header-login-section h1 {
    margin-bottom: 20px;
    font-size: 31px;
}

.header-login-section p {
    font-size: 15px;
    margin-bottom: 30px;
}

.header-login-section {
    width: 100%;
    height: 378px;
    padding-top: 30px;
    background-color: #02053f;
    border-bottom: 3px solid #f1211a;
}

.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.buttons a {
    width: 46%;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    background-color: #f1211a;
    color: #fff;
    transition: 0.2s all ease-in;
}

.buttons a:hover {
    background-color: #d4605c;
}

.user-content {
    height: 378px;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(../img/pexels-bruno-massao-2873486.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.user-content h1 {
    position: absolute;
}

.inner-opacity {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


/*Guest Page*/

.guest-icon-holder {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    background-image: url(../img/guest-profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.guest-profile {
    height: 340px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.guest-info p {
    font-size: 14px;
    margin-bottom: 30px;
}

.guest-info h4 {
    margin-bottom: 5px;
    font-size: 20px;
}

.guest-info a {
    margin-bottom: 25px;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    background-color: #f1211a;
    color: #fff;
    transition: 0.2s all ease-in;
    cursor: pointer;
}

.guest-info a:hover {
    background-color: #d4605c;
}

.favorite-header {
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-evenly;
}

.favorite-movies,
.favorite-tv-shows {
    width: 46%;
    height: 70%;
    background-color: rgba(32, 32, 32, 0.7);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.favorite-movies p,
.favorite-tv-shows p {
    font-size: 14px;
}

.favorite-logo {
    width: 20px;
    height: 20px;
    background-image: url(../img/stars-white-18dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 380px;
}

.fav-movies-list {
    margin-bottom: 150px;
}

.fav-movies-list h3,
.fav-shows-list h3 {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid #ff0000;
    margin-bottom: 20px;
    font-size: 25px;
}

.fav-movies-list p,
.fav-shows-list p {
    color: #ff0000;
    font-size: 14px;
}


/*MEDIA QUERIES TABLET*/

@media only screen and (min-width: 760px) {
    header {
        justify-content: space-around;
    }
    header input {
        width: 271px;
    }
    .overview {
        font-size: 20px;
    }
    .acc-icon,
    .home-icon {
        width: 33px;
        height: 33px;
    }
    .user-content {
        height: 60vh;
    }
    .user-content h1 {
        left: 12%;
    }
    .header-login-section {
        height: 420px;
    }
    .buttons a {
        width: 23%;
    }
    .header-login-section h1 {
        font-size: 39px;
    }
    .header-login-section p {
        font-size: 19px;
    }
    .guest-icon-holder {
        width: 140px;
        height: 140px;
    }
    .guest-info h4 {
        font-size: 25px;
    }
    .guest-info p {
        font-size: 20px;
        margin-bottom: 36px;
    }
    .guest-info a {
        padding: 14px 47px;
    }
    .favorite-header {
        height: 140px;
    }
    .favorite-movies,
    .favorite-tv-shows {
        height: 78%;
    }
    .favorite-movies p,
    .favorite-tv-shows p {
        font-size: 23px;
    }
    .favorite-logo {
        width: 32px;
        height: 32px;
    }
    .fav-movies-list h3,
    .fav-shows-list h3 {
        font-size: 33px;
    }
    .fav-movies-list p,
    .fav-shows-list p {
        font-size: 20px;
    }
    .footer {
        padding: 82px 89px;
    }
    .social-media {
        left: 32%;
        top: 57%;
    }
    .bottom-info {
        left: 33%;
    }
    .phone-n {
        margin-bottom: 28px;
    }
}


/*MEDIA QUERIES DESKTOP*/

@media only screen and (min-width: 1200px) {
    .overview {
        font-size: 17px;
    }
    .acc-icon,
    .home-icon {
        width: 28px;
        height: 28px;
    }
    .jumbotron {
        flex-direction: row;
    }
    .login-section {
        width: 54%;
    }
    .user-content {
        width: 48%;
        height: 62vh;
    }
    .header-login-section {
        height: 470px;
        border-bottom: none;
        border-right: 3px solid #ff0000;
    }
    .guest-ui {
        display: flex;
    }
    .guest-info a {
        padding: 10px 44px;
    }
    .first-container {
        width: 32%;
        height: 100vh;
        border-right: 3px solid #ff0000;
    }
    .second-container {
        width: 100%;
    }
    .favorite-header {
        height: 100px;
    }
    .favorite-movies,
    .favorite-tv-shows {
        width: 30%;
    }
    .favorite-movies p,
    .favorite-tv-shows p {
        font-size: 18px;
    }
    .favorite-logo {
        width: 27px;
        height: 27px;
    }
    .fav-movies-list {
        margin-bottom: 25%;
    }
    .favorite-items {
        margin-bottom: 30px;
    }
    .guest-profile {
        padding-top: 69px;
    }
    .footer {
        padding: 82px 181px;
    }
    .social-media {
        left: 29%;
    }
    .bottom-info {
        left: 47%
    }
}